<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-info-circle fa-lg"></i> {{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">
  <abn-tree tree-data="modalOptions.data" tree-control="modalOptions.tree" 
            expand-level="2" on-select="modalOptions.tree_handler(branch)">
  </abn-tree>
</div>
<div class="modal-footer">
  <button class="btn btn-primary"
          ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}
  </button>
  <button type="button" class="btn btn-default"
          ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}
  </button>
</div>
