<h1>New sentence</h1>
<form action="/sentence/create" method="POST">

	English: <input name="english" type="text"/> <br />
	Chinese: <input name="chinese" type="text"/> <br />
	<input type="submit"/>
</form>
