<div id="footer">
  <div class="container">
    <p class="text-center text-muted"><a href="#">天天英语 V0.0.1-SNAPSHOT</a>
      <span class="separator"> | </span>
      &copy;2014 <a href="http://baidu.com" target="_blank">XXX科技</a></p>
  </div>
</div>

<script src="/lib/underscore/underscore.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-route/angular-route.min.js"></script>
<script src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script src="/lib/angular-restmod/dist/angular-restmod.min.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/lib/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
<script src="/js/app/services/services.js"></script>
<script src="/js/app/services/MessageBoxService.js"></script>
<script src="/js/app/services/TokenHandler.js"></script>
<script src="/js/app/services/SigninService.js"></script>
<script src="/js/app/services/SentencesRest.js"></script>
<script src="/js/app/services/CategoriesRest.js"></script>
<script src="/js/app/services/CategoriesTreeService.js"></script>
<script src="/js/app/directives/directives.js"></script>
<script src="/js/app/filters/filters.js"></script>
<script src="/js/app/controllers/controllers.js"></script>
<script src="/js/app/controllers/SigninController.js"></script>
<script src="/js/app/controllers/SentencesController.js"></script>
<script src="/js/app/controllers/SentencesNewController.js"></script>
<script src="/js/app/controllers/SentencesUpdateController.js"></script>
<script src="/js/app/controllers/CategoriesController.js"></script>
<script src="/js/app/controllers/CategoriesNewController.js"></script>
<script src="/js/app/controllers/CategoriesUpdateController.js"></script>
<script src="/js/app/app.js"></script>
