#footer
  .container
    p.text-center.text-muted
      a(href='#') ProductName&nbsp;V0.0.1-SNAPSHOT
      span.separator &nbsp;|&nbsp;&copy;2014&nbsp;
      a(href='#' target='_blank') XXX Technologies
script(src='/underscore/underscore.js')
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')

