<div id="footer">
  <div class="container">
    <p class="text-center text-muted"><a href="#">天天英语 V0.0.1-SNAPSHOT</a>
      <span class="separator"> | </span>
      &copy;2014 <a href="http://baidu.com" target="_blank">XXX科技</a></p>
  </div>
</div>

<script src="/lib/underscore/underscore.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-route/angular-route.min.js"></script>
<script src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script src="/lib/angular-restmod/dist/angular-restmod.min.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/lib/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
<script src="/js/services.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/app.js"></script>
