<div id="footer">
  <div class="container">
    <p class="text-center text-muted"><a href="#">天天英语 V0.0.1-SNAPSHOT</a>
      <span class="separator"> | </span>
      &copy;2014 <a href="http://baidu.com" target="_blank">XXX科技</a></p>
  </div>
</div>

<script src="/lib/underscore/underscore.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-route/angular-route.min.js"></script>
<script src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script src="/lib/angular-restmod/dist/angular-restmod-bundle.min.js"></script>
<!-- <script src="/lib/angular-restmod/dist/plugins/paged.min.js"></script>-->
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/lib/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
<script src="/lib/angular-animate/angular-animate.min.js"></script>
<script src="/lib/AngularJS-Toaster/toaster.js"></script>
<script src="/lib/angular-block-ui/dist/angular-block-ui.min.js"></script>
<script src="/app/js/services/services.js"></script>
<script src="/app/js/services/paged.js"></script>
<script src="/app/js/services/MessageBoxService.js"></script>
<script src="/app/js/services/TokenHandler.js"></script>
<script src="/app/js/services/SigninService.js"></script>
<script src="/app/js/services/SentencesRest.js"></script>
<script src="/app/js/services/Sentence.js"></script>
<script src="/app/js/services/CategoriesRest.js"></script>
<script src="/app/js/services/CategoriesTreeService.js"></script>
<script src="/app/js/services/Category.js"></script>
<script src="/app/js/directives/directives.js"></script>
<script src="/app/js/filters/filters.js"></script>
<script src="/app/js/controllers/controllers.js"></script>
<script src="/app/js/controllers/SigninController.js"></script>
<script src="/app/js/controllers/SentencesController.js"></script>
<script src="/app/js/controllers/SentencesNewController.js"></script>
<script src="/app/js/controllers/SentencesUpdateController.js"></script>
<script src="/app/js/controllers/CategoriesController.js"></script>
<script src="/app/js/controllers/CategoriesNewController.js"></script>
<script src="/app/js/controllers/CategoriesUpdateController.js"></script>
<script src="/app/js/app.js"></script>
