<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Everyday English is wonderful!">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/lib/bootswatch/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/lib/angular-bootstrap-nav-tree/dist/abn_tree.css">
  <link rel="stylesheet" href="/lib/AngularJS-Toaster/toaster.css">
  <link rel="stylesheet" href="/app/css/sidebar.css">
  <link rel="stylesheet" href="/app/css/app.css">
  <!-- <link rel="stylesheet" href="/styles/sidebar.css"> -->

  <title><%= '天天英语' %></title>
</head>
