<div class="col-sm-3 col-md-2 sidebar" ng-show="true">
  <ul class="nav nav-sidebar">
    <li class="disabled"><span><b>李定一</b></span></li>
    <li><a href="#">退出</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">正在背诵</a></li>
    <li><span><b>NCE-1-17-32</b></span></li>
    <li><span><b>history</b></span></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="disabled"><span><b>统计</b></span></li>
    <li><a href="">已掌握</a></li>
    <li><a href="">时间</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="disabled"><span><b>设置</b></span></li>
    <li><a href="">提醒</a></li>
    <li><a href="">自动</a></li>
  </ul>  
</div>
