<!DOCTYPE html>
<html ng-app="app">
  <% include _header %>
  <body>
    <toaster-container></toaster-container>  
    <div id="wrap">
      <% include _nav %>
      <%- body %>
    </div>
    <% include _footer %>
  </body>
</html>
