<!DOCTYPE html>
<html ng-app="app">
  <% include _header %>
  <body>
    <div id="wrap">
      <% include _nav %>
      <div class="container">
        <%- body %>
      </div>
    </div>
    <% include _footer %>
  </body>
</html>
