<div class="panel panel-default">
  <div class="panel-heading"><strong>单词 - {{manipulationName}}</strong></div>
  <div class="panel-body">
    <form class="form-horizontal css-form" role="form" name="form" ng-submit="save()">    
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">目录：</label>
        <div class="col-sm-8 input-group ">
          <input class="form-control" name="category-name" type="text" ng-model="category.name" disabled
                  ng-maxlength="32" > 
          <span class="input-group-btn">
            <a href="" ng-click="showSelectionDlg()" class="btn btn-default"><span>...</span></a>
          </span>          
        </div>
      </div> 
      
      <div class="form-group">
        <label for="content" class="col-sm-2 control-label">内容：</label>

        <div class="col-sm-8 input-group ">
          <input class="form-control" name="content"  ng-model="object.content"
                    ng-maxlength="24" required xmsger-ng-focus-me="true">
        </div>
      </div>

      <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">描述：</label>
        <div class="col-sm-8 input-group ">
          <textarea class="form-control" rows="5" name="description" ng-model="sentence.description"
                    ng-maxlength="128"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 pull-right">
          <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
            <span>确定</span>
          </button>
          <a href="" ng-click="cancel()" class="btn btn-default">
            <span>取消</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
