<div style="background-color: #F5F5F5;" class="col-md-offset-4 col-md-4">
  <form style="margin: 40px 40px 68px 40px" class="form-horizontal" role="form"
        name="signinForm" novalidate rc-attempt rc-submit="signin()">
    <h2>登录</h2>

    <div class="form-group"
         ng-class="{'has-error': rc.signinForm.needsAttention(signinForm.userName), 'has-success': signinForm.userName.$valid}">
      <input class="form-control" id="inputUserName" name="userName" type="text" placeholder="用户名"
             required focus-me="true" ng-model="signinStatus.userName"/>
      <span class="help-block" ng-show="rc.signinForm.needsAttention(signinForm.userName)">请输入用户名。</span>
    </div>
    <div class="form-group"
         ng-class="{'has-error': rc.signinForm.needsAttention(signinForm.password), 'has-success': signinForm.password.$valid}">
      <input class="form-control" id="inputPassword" name="password" type="password" placeholder="密码"
             required ng-model="signinStatus.password"/>
      <span class="help-block" ng-show="rc.signinForm.needsAttention(signinForm.password)">请输入密码。</span>
      <span class="help-block"></span>
    </div>
    
    <div style="margin-bottom: 4px" class="form-group" ng-show="signinStatus.isNeedCaptcha">
      <img ng-src="{{signinStatus.captchaImgUrl}}" ng-click="reloadCaptchaImg()" alt="6位验证码"><a style="margin-left: 16px" href="" ng-click="reloadCaptchaImg()">看不清楚，换一张</a>
    </div>    
    <div class="form-group" ng-show="signinStatus.isNeedCaptcha"
         ng-class="{'has-error': rc.signinForm.needsAttention(signinForm.password), 'has-success': signinForm.password.$valid}">
      <input class="form-control" id="inputPassword" name="password" type="password" placeholder="6位验证码"
             required ng-model="signinStatus.password"/>
      <span class="help-block"></span>
    </div>
 
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        <span>登录</span>
      </button>
    </div>
    <div class="form-group" ng-show="signinStatus.isShowingMessage">
      <div>
        <p class="text-danger">{{signinStatus.message}}</p>
      </div>
    </div>
  </form>
</div>
